<div id="formulario" *ngIf="!(authService.user | async)"><!--esto es para que el formulario solo aparezca en la pantalla si no estamos logiados-->
    <h2>
        Formulario de registro
      </h2>
      
      <form [formGroup]="userForm">
        <div>
            <input type="text" formControlName="name" placeholder="Nombre">
            <p *ngIf="userForm.get('name').status == 'INVALID' && !userForm.get('name').pristine" style="color:red">Debes Ingresar tu nombre</p>
        </div>
        
        <div>
            <input type="number" formControlName="age">
            <p *ngIf="userForm.get('age').status == 'INVALID'&& !userForm.get('age').pristine" style="color:red">Debe tener mas de 18 años</p>
        </div>
      
        <div>
            <input type="text" formControlName="mail" placeholder="Email">
            <p *ngIf="userForm.get('mail').status == 'INVALID'&& !userForm.get('mail').pristine" style="color:red">Debes ingresar tu email</p>
        </div>
         
        <div>
            <input type="password" formControlName="password" placeholder="Contraseña">
            <p *ngIf="userForm.get('password').status == 'INVALID'&& !userForm.get('password').pristine" style="color:red">Debes ingresar tu contraseña</p>
        </div>

        <div>
          <button (click)="onRegisterClick()">Registrar</button>
        </div>
      
      </form>
      
       <!--<p>Form value: {{ userForm.value | json }}</p>json convierte los datos ingresados en json
      <p>Form Status: {{ userForm.status | json }}</p>
      <p>Form Status: {{ userForm.get('name').status | json }}</p> con get le indico a que elemento quiero afectar
      <p>Form State: {{ userForm.get('name').pristine | json }}</p>
      <p>Form State: {{ userForm.get('name').untouched | json }}</p> Todo este código, es para ver lo que hace por dentro/debajo el código-->
</div>

<div id="btn_desloguear">
    <button (click)="onClickLogout()">Desloguear</button><!--Boton de deslogueo, debiera estar en otro componente -->
</div>

